.container {
    margin: 150px 10px 0px;
    padding: 15px;
    border-radius: 18px;
    background-color: white;
    max-width: 1200px;
    box-shadow: 0px 0px 5px 2px var(--third-color);
}

.topic_title {
    font-size: var(--title-size);
    text-align: center;
    margin-bottom: 40px;
}

.topic_image {
    width: 100%;
    margin-bottom: 20px;
}

section p {
    font-size: var(--text-size);
    line-height: var(--text-line-height-size);
    font-weight: 300;
    color: #171717;
    margin-bottom: 40px;
}

.section_title {
    font-size: var(--title-size) !important;
    font-weight: 500 !important;
    margin-bottom: 40px;
}


@media screen and (min-width: 880px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
}