.container {
    margin: 150px 10px 100px;
    padding: 15px;
    border-radius: 18px;
    background-color: white;
    max-width: 1200px;
    box-shadow: 0px 0px 5px 2px var(--third-color);
}

.topic_title {
    font-size: var(--title-size);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.topic_image {
    width: 100%;
    margin-bottom: 20px;
}

.home_clearence, .house_cleaning li {
    font-size: var(--text-size);
    margin: 10px;
}

.home_clearence, .house_cleaning p {
    margin-bottom: 50px;
}

.alt_services li{
    margin: 10px;
}

section p {
    font-size: var(--text-size);
    line-height: var(--text-line-height-size);
    font-weight: 300;
    color: #171717;
    margin-bottom: 40px;
}

.section_title {
    font-size: var(--title-size) !important;
    font-weight: 500 !important;
    margin-bottom: 40px;
}

section ul li:not(:first-child) {
    margin-left: 20px;
    list-style-type: disc;
}

section ul {
    margin: 40px 0px;
}

section ul li:first-child {
    margin-bottom: 10px;
}

.item_box {
    margin: 40px auto;
    border-radius: 18px;
    padding: 40px 10px 20px 10px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px var(--second-color);
}


.item_box .topic_title {
    font-size: 18px;
    font-weight: 600;
}

.desc {
    margin: 20px;
    font-size: 14px;
}

.get_offer_btn {
    border-radius: 18px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    background-color: var(--second-color);
}

.dialog_container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
}

.close_btn {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px 15px;
    font-size: 22.5px;
    border-radius: 100%;
    position: fixed;
    top: 10px;
    right: 10px;
}



@media screen and (min-width: 880px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .item_box {
        width: 350px;
    }
}