.container {
    background-color: white;
}

.contact_us,
.contact_form {
    width: 100%;
    padding: 50px;
    height: 450px;
}

.title {
    color: black;
    font-size: var(--title-size);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.desc {
    font-size: var(--text-size);
    line-height: var(--text-line-height);
}

.data {
    margin-top: 30px;
}

.data a {
    color: var(--second-color);
    margin-bottom: 10px;
}

.icon {
    fill: var(--second-color);
}

.social_media_group {
    margin-top: 30px;
    width: 100px;
}

.header {
    border-radius: 15px 15px 0px 0px;
    background-color: #4d5dfb;
    background-image: linear-gradient(-90deg, #4d5dfb 0%, #08c8f6 95%);
    text-align: center;
    padding: 10px;
}


.dialog_media_group {
    width: 150px;
    margin-top: 10px;
}

.dialog_icon {
    fill: white;
}

.dialog_title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.contact_form {
    background-color: rgba(218, 218, 218, 0.281);
}

.contact_form input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.name_input {
    margin-top: 50px;
}

.name_input input {
    width: 50%;
}

.name_input input:first-child {
    margin-right: 10px;
}

.contact_form>input {
    width: 100%;
}

.contact_form textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    height: 100px;
    font-size: 16px;
    resize: none;
}

.submit_btn {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;
}

/* Dialog */

.dialog_container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
}

.form_container {
    width: 100%;
}

.form_container>div:last-child {
    padding-left: 40px;
}

.close_btn {
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px 15px;
    font-size: 22.5px;
    border-radius: 100%;
    position: fixed;
    top: 10px;
    right: 10px;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
        background: var(--second-color);
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, var(--second-color) 100%);
        height: 700px;
    }

    .context_container {
        width: 1200px;
        background-color: white;
        box-shadow: 0px 0px 5px 1px lightgray;
        height: 520px;
    }

    .contact_us,
    .contact_form {
        height: auto !important;
    }

}