.navbar {
    position: fixed;
    top: 0px;
    width: 90%;
    margin: 30px 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px var(--second-color);
    color: var(--second-color);
    background: linear-gradient(90.32deg, rgba(219, 219, 219, 0.5) 0%, rgba(219, 219, 219, 0.25) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 3px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(24px);
    z-index: 999;
    height: 60px;
    font-size: 18px;
    padding: 0px 30px 0px 10px;
}

.navlink>.item {
    margin-right: 40px;
    color: white;
    text-shadow: 2px 2px 5px var(--second-color);
    font-weight: 700;
    position: relative;
}

.navlink>.item:hover {
    text-transform: uppercase;
    cursor: pointer;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.hamburger_icon_container {
    padding: 10px 10px 5px;
    border-radius: 10px;
    background-color: var(--second-color);
}

.hamburger_icon {
    fill: var(--main-color)
}

.icon {
    fill: var(--dark-gold);
}

.submenu {
    display: block;
    top: 10px;
}

.sub_link {
    text-shadow: none;
}


@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
    .navlink>.item {
        padding: 20px;
    }

    .submenu {
        text-transform: capitalize;
        font-weight: 400;
        position: absolute;
        top: 60px;
        left: -10px;
        border-radius: 0px 0px 10px 10px;
        color: var(--second-color);
        padding: 10px 20px;
        background-color: var(--main-color);
        animation: growDown 500ms ease-in-out forwards;
        transform-origin: top center;
    }

    .sub_link {
        margin-bottom: 10px;
    }

    .sub_link :hover {
        background-color: lightgray !important;
        text-transform: uppercase;
    }

    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }

        80% {
            transform: scaleY(1.1)
        }

        100% {
            transform: scaleY(1)
        }
    }

}