.container {
    margin: 150px auto 150px;
    padding: 25px;
    border-radius: 18px;
    background-color: white;
    max-width: 1200px;
}

.container h4 {
    font-weight: 600;
    font-size: var(--title-size)
}