.section_image {
    width: 50%;
    transform: rotate(45deg);
}

.container {
    background-color: white;
    width: 100%;
    padding: 50px 20px;

}

.title {
    font-size: 25px;
    line-height: 30px;
    color: var(--second-color);
    font-weight: 600;
    text-align: center;
}

.divider {
    width: 200px;
    height: 5px;
    background-color: var(--second-color);
    ;
    margin: 25px auto;
}

.sub_title {
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: var(--second-color);
    margin-bottom: 40px;
}

.profit_box {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 15px solid gray;
    position: relative;
    margin: 50px auto;
    transform: rotate(-45deg);
}

.profit_box .item {
    border-radius: 18px;
    position: absolute;
    width: 88px;
    height: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px white;
}


.item.bg_aqua .number {
    transform: rotate(45deg) !important;
}

.item.bg_yellow .number {
    transform: rotate(-45deg) !important;
}

.item.bg_green .number {
    transform: rotate(135deg) !important;
}

.item.bg_purple .number {
    transform: rotate(45deg) !important;
}

.item.bg_green {

    left: -65px;
    top: 60px;
    transform: rotate(-90deg);
}

.item.bg_aqua {

    top: -40px;
    right: 44px;
}

.item.bg_yellow {

    right: -65px;
    top: 60px;
    transform: rotate(90deg);
}

.item.bg_purple {

    bottom: -40px;
    left: 44px;
}

.bg_green {
    background-color: #19381F;
}

.bg_aqua {
    background-color: #05A8AA;
}

.bg_yellow {
    background-color: #EAC435;
}

.bg_purple {
    background-color: #320E3B;
}

.txt_green * {
    color: #19381F;
}

.txt_aqua * {
    color: #189092;
}

.txt_yellow * {
    color: #aa8e27;
}

.txt_purple * {
    color: #320E3B;
}

.paragraph_section {
    margin: 0px auto 20px;
    width: 80%;
    font-weight: 500;
}

.topic_title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.topic_desc {
    font-size: 16px;
    line-height: 20px;
}

.icon_group {
    margin: 0px auto;
    width: 80%;
}

.topic_box {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
}

.topic_box:not(:first-child) {
    margin-left: 20px;
}

.topic_image {
    width: 75%;
}

.topic_box .line {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 26px;
    background-color: black;
    right: -20px;
}