.header_container {
    background-image: url("./assets/img/haushaltaufloesung.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.paragraph {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
    width: 100%;
}

.paragraph h1 {
    font-size: var(--title-size);
    margin-bottom: 20px;
}

.paragraph h3 {
    font-size: calc(var(--title-size) - 5px);
}

.context_container {
    width: 90%;
    margin: 150px auto 0px;
}

.cities {
    margin: 0px 78px;
    border-radius: 18px;
    padding-top: 35px;
    min-width: 314px;
    margin-bottom: 20px;
}
.cities li{
    color: white;
    font-size: 20px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.info_section {
    color: white;
    width: 100%;
    display: inline-block;
    height: 280px;
    padding: 0px 30px;
    background-color: var(--second-color);
    border-top: 2.5px solid var(--third-color);
    border-bottom: 2.5px solid var(--third-color);
}

.social_media {
    margin-top: 30px;
}

.info_section h5 {
    font-size: 24px;
    margin-top: 26px;
    margin-bottom: 11px;
    font-weight: 500;
}

.info_section a {
    font-weight: 300;
    color: white;
}

.link_button {
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    background-color: transparent;
    color: var(--light-gray-color) !important;
    font-weight: 700;
}

.icon {
    fill: var(--light-gray-color);
    cursor: pointer;
}

@media screen and (min-width: 880px) {
    .paragraph {
        width: 60%;
        padding: 70px 100px;
    }

    .contact_form {
        width: 384px;
    }

    .info_section {
        padding: 0px 78px;
    }

    .link_button {
        padding: 29px 0px;
    }
}

@media screen and (min-width: 1024px) {
    .paragraph {
        width: 60%;
    }
}