.container {
    margin: 150px auto 150px;
    padding: 15px;
    border-radius: 18px;
    background-color: white;
    max-width: 1200px;
    height: 50vh;
}

.title {
    text-align: center;
    margin: 20px 0px 50px;
}

.container p {
    font-size: var(--text-size);
    margin-bottom: 20px;
}