.container {
    bottom: 0px;
    height: 200px;
    border-top: 2.5px solid var(--third-color);
    background-color: var(--second-color);
    width: 100%;
}

.contact_container{
    width: 245px;
}

.contact_list,
li a {
    color: var(--main-color) !important
}

.contact_list li {
    margin-bottom: 10px;
}

h5 {
    padding-top: 10px;
    text-align: center;
    color: var(--main-color);
    font-size: 18px;
}

.icon_group{
    width: 125px;
}

.icon {
    fill: var(--main-color);
    font-size: 20px;
}

.divider {
    height: 3.5px;
    background-color: var(--third-color);
    width: 100px;
    border-radius: 15px;
    margin: 0px auto 10px;

}