.container {
    width: 100%;
}

.service_logo {
    margin: 40px 0px;
    width: 150px;
    height: 150px;
}

.service_desc {
    color: var(--main-color);
    line-height: var(--text-line-height);
    font-size: var(--text-size);
    padding: 0px 20px 20px;
}

.service_subtitle {
    color: var(--main-color);
    line-height: var(--text-line-height);
    font-size: var(--text-size);
    padding-bottom: 50px;
}