.container {
    width: 100%;
    overflow-x: hidden;
}

.about_company {
    background-color: #FFB522;
    color: #000;
    margin-bottom: -40px;
}

.info_section {
    margin-bottom: 40px;
    padding: 40px 20px 20px;
}

.info_section .title {
    font-weight: 600;
}

.contact_btn {
    margin: 10px;
    background-color: #004344;
    padding: 10px;
    font-size: var(--text-size);
    border-radius: 18px;
    color: white;
}

.service_logo {
    margin: 40px 0px;
    width: 150px;
    height: 150px;
}

.service_desc {
    line-height: var(--text-line-height);
    font-size: var(--text-size);
}

.service_subtitle {
    line-height: var(--text-line-height);
    font-size: var(--text-size);
    margin: 20px 0px;
}

.hint {
    background-color: #FFB522;
    font-size: var(--text-size);
    /* color: var(--main-color); */
    padding: 20px 50px;
    text-align: center;
}

.night_service {
    background-color: #253147;
    color: white;
    padding: 40px 0px;
}

.night_service .img_section {
    width: 50%;
    height: inherit;

}

.night_service .img_section .img {
    height: 250px;
}

.divider {
    width: inherit;
    height: 2.5px;
    margin: 10px auto;
    background-color: white;
}

.sub_title {
    font-size: var(--text-size);
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}


@media screen and (min-width: 650px) {
    .info_section {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .info_section {
        width: 50%;
    }

    .service_desc {
        width: 70%;
    }
}